<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ng.syringe">

    <application >

        <!-- 动态加载 aty 代理方式需要的占坑aty -->
        <activity android:name="com.ng.syringe.load.ProxyStubActivity" />

        <!-- 动态加载 aty Hook方式需要的占坑aty -->
        <activity android:name=".hook.HookStubActivity"/>

        <activity android:name=".hook.LoginActivity"/>

    </application>
</manifest>